h5, p{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.directions{
    background-color: aqua;
}
.directions:hover {

    background-color: black;
    color: white;
}
/* .butname{
    background-color: antiquewhite;
    width: 80px;
    color: darkgreen;
} */
.BUT{
    /* background-color: antiquewhite; */
    /* width: 80px; */
    color: darkgreen;
}
.CAP{
    /* background-color: tomato; */
    /* width: 80px; */
    color: darkorchid;
}
.JOS{

    /* background-color: orange; */
    /* width: 80px; */
    color: brown;
}
.butname:hover{
    border: 2px solid black;
    text-shadow: 2px 2px 2px black;

}
.capname:hover{
    border: 2px solid black;
    text-shadow: 2px 2px 2px black;
}
/* .capname{
    background-color: tomato;
    width: 80px;
    color: floralwhite;
} */
.josname:hover{
    border: 2px solid black;
    text-shadow: 2px 2px 2px black;
}
.song{text-decoration: underline;}
.speech{ text-decoration: solid;}

table,td,th{
    border: 3px solid;

}
th,td{
    padding: 10px;
}
tr:nth-child(odd){
    background-color: chartreuse;
}
.table1{

    border-collapse: collapse;
    
    background-color: forestgreen;
    
    text-align: center;
    box-shadow: 5px 5px 10px gray ;
}
.nextpage{
    text-decoration: none;
    border: 3px solid black;
    padding: 3px;
    /* margin: 20px; */
    margin-top: 0px;
    background-color: black;
    color: white;

}
.navbar-horizontal{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    
}

.navbar-horizontal li{

    background-color: aqua;
    color: white;
    float: left;
    
}
.navbar-horizontal a{
    display: block;
    padding: 10px;
    text-decoration: none;
}