h5, p{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.directions{
    background-color: aqua;
}
.directions:hover {

    background-color: black;
    color: white;
}
.butname{
    background-color: antiquewhite;
    width: 80px;
    color: darkgreen;
}
.capname{
    background-color: tomato;
    width: 80px;
    color: floralwhite;
}
.josname{
    background-color: orange;
    width: 80px;
    color: snow;
}
.song{text-decoration: underline;}
.speech{ text-decoration: solid;}

table,td,th{
    border: 2px solid;

}
th,td{
    padding: 10px;
}
.table1{

    border-collapse: collapse;
    /* padding: 3px; */
    background-color: forestgreen;
    padding: auto;
    text-align: center;
    box-shadow: 15px 15px 10px gray ;
}